:root {
  --font-size-small: 12px;
  --font-size-regular: 16px;
  --primary-color: #f4e041;
  --secondary-color: #00bdd3;
  --background-color: #f8f8f8;
  --error-color: #CB3D40;
  --input-border-color: #D0CFCF;
  --text-color: #000000;
  --input-text-color: #FFFFFFDE;
  --input-placeholder-color: #7E7E7E;
  --disabled-color: #B4B4B4;
  --disabled-text-color: #FFF;
  --hover-btn-color: #FFE302;

}
