.button {
  width: 100px;
  height: 34px;
  background: #f4e041;
  color: #000000de;
  font-size: 16px;
  text-align: center;
  border-radius: 80px;
  line-height: 26px;
  border: none;
}

.button:hover {
  background: #ffe302;
  cursor: pointer;
}


/* Button.module.css */


.button:disabled,
.button.disabled {
  background: #ccc;
  color: #FFFFFFDE;

  cursor: not-allowed;
}
