.radio_buttons {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.radio_buttons h2 {
  margin-bottom: 10px;
  margin-top: 20px;
  color: #333;
}

.pure_material_radio {
  z-index: 0;
  position: relative;
  display: inline-block;
  color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.87);
  font-family: var(
    --pure-material-font,
    "Roboto",
    "Segoe UI",
    BlinkMacSystemFont,
    system-ui,
    -apple-system
  );
  font-size: 16px;
  line-height: 1.5;
}

/* Input */
.pure_material_radio > input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  z-index: -1;
  position: absolute;
  left: -10px;
  top: -8px;
  display: block;
  margin: 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
  outline: none;
  opacity: 0;
  transform: scale(1);
  pointer-events: none;
  transition: opacity 0.3s, transform 0.2s;
}

/* Span */
.pure_material_radio > span {
  display: inline-block;
  width: 100%;
  cursor: pointer;
  margin-bottom: 7px;
}

.radio_buttons_title {
  line-height: 26px;
  font-size: 16px;
}

/* Circle */
.pure_material_radio > span::before {
  content: "";
  display: inline-block;
  box-sizing: border-box;
  margin: 2px 10px 2px 0;
  border: solid 2px; /* Safari */
  border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  vertical-align: top;
  transition: border-color 0.2s;
}

/* Check */
.pure_material_radio > span::after {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 0;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: #00bdd3; /* Updated color */
  transform: translate(5px, 5px) scale(0);
  transition: transform 0.2s;
}

/* Checked */
.pure_material_radio > input:checked {
  background-color: #00bdd3; /* Updated color */
}

.pure_material_radio > input:checked + span::before {
  border-color: #00bdd3; /* Updated color */
}

.pure_material_radio > input:checked + span::after {
  transform: translate(5px, 5px) scale(1);
}

/* Hover, Focus */
.pure_material_radio:hover > input {
  opacity: 0.04;
}

.pure_material_radio > input:focus {
  opacity: 0.12;
}

.pure_material_radio:hover > input:focus {
  opacity: 0.16;
}

/* Active */
.pure_material_radio > input:active {
  opacity: 1;
  transform: scale(0);
  transition: transform 0s, opacity 0s;
}

.pure_material_radio > input:active + span::before {
  border-color: #00bdd3; /* Updated color */
}

/* Disabled */
.pure_material_radio > input:disabled {
  opacity: 0;
}

.pure_material_radio > input:disabled + span {
  color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
  cursor: initial;
}

.pure_material_radio > input:disabled + span::before {
  border-color: currentColor;
}

.pure_material_radio > input:disabled + span::after {
  background-color: currentColor;
}
